/* Margin Left Utility Classes */
.ml-1 {
    margin-left: 10px;
}
.ml-2 {
    margin-left: 20px;
}
.ml-3 {
    margin-left: 30px;
}
.ml-4 {
    margin-left: 40px;
}
.ml-5 {
    margin-left: 50px;
}
.ml-6 {
    margin-left: 60px;
}
.ml-7 {
    margin-left: 70px;
}